body{
  padding: 0;
  margin: 0;
  background: #000;
}
.window{
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.all_slide{
  display: flex;
  width: 100vw;
  height: 100vh;
  transition: ease 0.5s;
}
.slide-one{
  transform: scale(2) !important;
}
.slide{
  width: 100vw;
  height: 100vh;
  animation: anim2 0.3s ease 1 alternate 0s forwards;
}
.slide.active{
  z-index: 2;
  animation: anim 0.3s ease 1 alternate 2s forwards ;
}
@keyframes anim {
  0%{
    transform: scale(1);
  }
  100%{
    transform: scale(2);
  }
}
@keyframes anim2 {
  0%{
    transform: scale(2);
  }
  100%{
    transform: scale(1);
  }
}
.slide img{
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}
.arrows{
  width: 100vw;
  position: absolute;
  bottom: 20px;
  left: 20px;
  display: flex;
  gap: 5px;
  align-items: center;
}
.arrow{
  border: none;
  cursor: pointer;
  padding: 10px 30px;
  background: rgb(207, 91, 91);
  transition: 0.3s;
  color: white;
}
.arrow:disabled{
  opacity: 0.6;
}
.arrow:hover:enabled{
  background: #000;
}